<% layout("/layouts/boilerplate") %>

<article>
  <section class="mt-5 ms-5 mb-5">
    <div class="d-flex align-items-start justify-content-start">
      <div class="w-25">
        <button
          class="btn btn-light border border-secondary-subtle w-75 text-start"
        >
          <i class="fa-solid fa-list-check"></i>
          <span class="ms-3">Manage Listings</span></button
        ><br />
        <button
          class="btn btn-light border border-secondary-subtle w-75 mt-3 text-start"
        >
          <i class="fa-solid fa-users"></i>
          <span class="ms-3">Manage Users</span></button
        ><br />
        <button
          class="btn btn-light border border-secondary-subtle w-75 mt-3 text-start"
        >
          <i class="fa-solid fa-gavel"></i>
          <span class="ms-3">Manage Auction</span>
        </button>
        <button
          class="btn btn-light border border-secondary-subtle w-75 mt-3 text-start"
        >
          <i class="fa-solid fa-headset"></i>
          <span class="ms-3">Support Customer</span>
        </button>
      </div>
      <div class="w-75 border-start border-black pb-5 ps-5">
        <div
          class="d-flex align-items-start justify-content-between w-100 pe-5 rounded mb-4"
        >
          <h4 class="mb-4 fw-bold">Listings</h4>
          <a href="/admin/listings/new" class="btn btn-secondary">
            <i class="fa-solid fa-circle-plus"></i> Add New
          </a>
        </div>
        <div class="me-5">
          <table class="table">
            <thead>
              <tr class="text-center">
                <th class="fs-5" scope="col">listing_ID</th>
                <th class="fs-5" scope="col">Title</th>
                <th class="fs-5" scope="col">Username</th>
                <th class="fs-5" scope="col">Price</th>
                <th class="fs-5" scope="col"></th>
              </tr>
            </thead>
            <tbody class="table-group-divider text-center">
              <!-- showing listings that are pending -->
              <% for(let listing of allListings){ %> <% if(
              listing.status === "pending"){ %>
              <tr>
                <th scope="row">
                  <a href="/admin/listings/<%= listing._id %>"
                    ><%= listing._id %></a
                  >
                </th>
                <td><%= listing.title %></td>
                <td><%= listing.owner.username %></td>
                <td>RM <%= listing.price.toLocaleString("en-IN") %></td>
                <td>
                  <button class="btn btn-success">Accept</button
                  ><button class="btn btn-danger ms-2">Reject</button>
                </td>
              </tr>
              <% } %> <% } %>

              <!-- showing listings that already accepted or rejected -->
              <% for(let listing of allListings){ %> <% if(
              listing.status === "Approved" || listing.status ===
              "Disapproved"){ %>
              <tr>
                <th scope="row">
                  <a href="/admin/listings/<%= listing._id %>"
                    ><%= listing._id %></a
                  >
                </th>
                <td><%= listing.title %></td>
                <td><%= listing.owner.username %></td>
                <td>RM <%= listing.price.toLocaleString("en-IN") %></td>
                <td class="text-white">
                  <% if(listing.status === "Approved") { %>
                  <p class="bg-success text-center rounded p-1">Accepted</p>
                  <% } %> <% if(listing.status === "Disapproved") { %>
                  <p class="bg-danger text-center rounded p-1">Rejected</p>
                  <% } %>
                </td>
              </tr>
              <% } %> <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</article>
