<% layout("/layouts/boilerplate") %>

<article>
  <section class="mt-5 ms-5 mb-5">
    <div class="d-flex align-items-start justify-content-start">
      <div class="col-md-3">
        <a href="/admin/manageListings"
          ><button
            class="btn btn-light border border-secondary-subtle w-75 text-start"
          >
            <i class="fa-solid fa-list-check"></i>
            <span class="ms-3">Manage Listings</span>
          </button></a
        >
        <br />
        <a href="/admin/manageUsers"
          ><button
            class="btn btn-light border border-secondary-subtle w-75 mt-3 text-start"
          >
            <i class="fa-solid fa-users"></i>
            <span class="ms-3">Manage Users</span>
          </button></a
        >
        <br />
        <a href="/admin/manageAuctions"
          ><button
            class="btn btn-light border border-secondary-subtle w-75 mt-3 text-start"
          >
            <i class="fa-solid fa-gavel"></i>
            <span class="ms-3">Manage Auctions</span>
          </button></a
        >
        <a href="/admin/supportCustomer"
          ><button
            class="btn btn-light border border-secondary-subtle w-75 mt-3 text-start"
          >
            <i class="fa-solid fa-headset"></i>
            <span class="ms-3">Support Customer</span>
          </button></a
        >
      </div>
      <div class="col-md-9 border-start border-black pb-5 ps-5">
        <div
          class="d-flex align-items-start justify-content-between w-100 pe-5 rounded mb-4"
        >
          <h4 class="mb-4 fw-bold">Listings</h4>
          <a href="/admin/listings/new" class="btn btn-secondary">
            <i class="fa-solid fa-circle-plus"></i> Add New
          </a>
        </div>

        <div class="me-5">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr class="text-center">
                  <th class="fs-5" scope="col">Title</th>
                  <th class="fs-5" scope="col">Username</th>
                  <th class="fs-5" scope="col">Model</th>
                  <th class="fs-5" scope="col">Price</th>
                  <th class="fs-5" scope="col">Actions</th>
                </tr>
              </thead>
              <tbody
                class="table-group-divider text-center overflow-y-scroll"
                style="max-height: 400px"
              >
                <!-- Loop through allListings to show pending listings -->
                <% for(let listing of allListings){ %> <% if(listing.status ===
                "pending"){ %>
                <tr>
                  <td>
                    <a href="/admin/listings/<%= listing._id %>"
                      ><%= listing.title %></a
                    >
                  </td>
                  <td><%= listing.owner.username %></td>
                  <td><%= listing.brandModel %></td>
                  <td>RM <%= listing.price.toLocaleString("en-US") %></td>
                  <td>
                    <a
                      href="/admin/listings/<%= listing._id %>"
                      class="btn btn-success"
                      >Accept</a
                    >
                    <a
                      href="/admin/listings/<%= listing._id %>"
                      class="btn btn-danger ms-2"
                      >Reject</a
                    >
                  </td>
                </tr>
                <% } %> <% } %>

                <!-- Loop through allListings to show approved or disapproved listings -->
                <% for(let listing of allListings){ %> <% if(listing.status ===
                "Approved" || listing.status === "Disapproved"){ %>
                <tr>
                  <td>
                    <a href="/admin/listings/<%= listing._id %>"
                      ><%= listing.title %></a
                    >
                  </td>
                  <td><%= listing.owner.username %></td>
                  <td><%= listing.brandModel %></td>
                  <td>RM <%= listing.price.toLocaleString("en-US") %></td>
                  <td class="text-white">
                    <% if(listing.status === "Approved") { %>
                    <p class="bg-success text-center rounded p-1">Accepted</p>
                    <% } %> <% if(listing.status === "Disapproved") { %>
                    <p class="bg-danger text-center rounded p-1">Rejected</p>
                    <% } %>
                  </td>
                </tr>
                <% } %> <% } %>

                <!-- Loop through allListings to show auction, finished, or complete listings -->
                <% for(let listing of allListings){ %> <% if(listing.status ===
                "auction" || listing.status === "finished" || listing.status ===
                "complete"){ %>
                <tr>
                  <td>
                    <a href="/admin/listings/<%= listing._id %>"
                      ><%= listing.title %></a
                    >
                  </td>
                  <td><%= listing.owner.username %></td>
                  <td><%= listing.brandModel %></td>
                  <td>RM <%= listing.price.toLocaleString("en-US") %></td>
                  <td class="text-white">
                    <% if(listing.status === "auction") { %>
                    <p class="bg-warning text-center rounded p-1">Auction</p>
                    <% } %> <% if(listing.status === "finished") { %>
                    <p class="bg-warning text-center rounded p-1">In Progress</p>
                    <% } %> <% if(listing.status === "complete") { %>
                    <p class="bg-secondary text-center rounded p-1">
                      Completed
                    </p>
                    <% } %>
                  </td>
                </tr>
                <% } %> <% } %>
              </tbody>
            </table>
          </div>
        </div>
        
      </div>
    </div>
  </section>
</article>
