<% layout("/layouts/boilerplate") %>

<article>
  <section class="mt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="me-5 sticky-top" style="top: 7rem;">
            <button
              class="btn btn-light border border-secondary-subtle w-100 mb-3"
              onclick="document.getElementById('section-win').scrollIntoView();"
            >
              Win Cars &emsp; <i class="fa-solid fa-angle-right"></i>
            </button>
            <button
              class="btn btn-light border border-secondary-subtle w-100 mb-3"
              onclick="document.getElementById('section-lose').scrollIntoView();"
            >
              Lose Cars <i class="fa-solid fa-angle-right"></i>
            </button>
          </div>
        </div>
        <div class="col-lg-9">
          <section class="mb-5" id="section-win">
            <h3 class="fw-bold mb-3 fs-5">WIN CARS</h3>
            <% for(let listing of winBids){ %>
            <div class="card mb-3">
              <a
                href="/auctions/bids/result/<%= listing._id %>"
                class="text-decoration-none text-black"
              >
                <div class="row g-0">
                  <div class="col-md-4">
                    <img
                      src="<%= listing.image[0].url %>"
                      class="img-car rounded-start"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body car-auclisting">
                      <div
                        class="d-flex justify-content-between align-items-start mb-4"
                      >
                        <div class="ms-3">
                          <h5 class="card-title fw-bold">
                            <%= listing.title %>
                          </h5>
                          <hr class="w-25" />
                          <p class="card-text"><%= listing.description %></p>
                        </div>
                        <div class="me-4 text-center mb-2">
                          <h5 class="fw-bold mb-2">
                            RM <%= listing.basePrice.toLocaleString("en-US") %>
                          </h5>
                          <p
                            class="bg-success text-white fw-semibold text-center rounded p-1 mb-5"
                          >
                            Won
                          </p>
                        </div>
                      </div>
                      <div class="card-footer car-auclisting">
                        <div class="d-flex justify-content-start listing-icon">
                          <div class="ms-2 me-3 mt-2">
                            <img
                            src="/Image/dissel.png"
                            class="icon-size"
                            alt=""
                          /><span class="ms-2"><%= listing.carType %></span>
                          </div>
                          <div class="auclisting-line"></div>
                          <div class="ms-2 me-3 mt-2">
                            <img
                            src="/Image/car-icon.png"
                            class="icon-size"
                            alt=""
                          /><span class="ms-2"><%= listing.condition %></span>
                          </div>
                          <div class="auclisting-line"></div>
                          <div class="ms-2 me-3 mt-2">
                            <img src="/Image/Road.png" class="icon-size" alt="" /><span
                            class="ms-2"
                            ><%= listing.mileage.toLocaleString("en-US") %></span
                          >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <% } %>
          </section>

          <section class="mt-5 mb-5" id="section-lose">
            <h3 class="fw-bold mb-4 fs-5">LOSE CAR</h3>
            <% for(let listing of loseBids){ %>
              <div class="card mb-3">
                <a
                  href="/auctions/bids/result/<%= listing._id %>"
                  class="text-decoration-none text-black"
                >
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img
                        src="<%= listing.image[0].url %>"
                        class="img-car rounded-start"
                        alt="..."
                      />
                    </div>
                    <div class="col-md-8">
                      <div class="card-body car-auclisting">
                        <div
                          class="d-flex justify-content-between align-items-start mb-4"
                        >
                          <div class="ms-3">
                            <h5 class="card-title fw-bold">
                              <%= listing.title %>
                            </h5>
                            <hr class="w-25" />
                            <p class="card-text"><%= listing.description %></p>
                          </div>
                          <div class="me-4 text-center mb-2">
                            <h5 class="fw-bold mb-2">
                              RM <%= listing.basePrice.toLocaleString("en-US") %>
                            </h5>
                            <p
                              class="bg-danger text-white fw-semibold text-center rounded p-1 mb-5"
                            >
                              Lose
                            </p>
                          </div>
                        </div>
                        <div class="card-footer car-auclisting">
                          <div class="d-flex justify-content-start listing-icon">
                            <div class="ms-2 me-3 mt-2">
                              <img
                              src="/Image/dissel.png"
                              class="icon-size"
                              alt=""
                            /><span class="ms-2"><%= listing.carType %></span>
                            </div>
                            <div class="auclisting-line"></div>
                            <div class="ms-2 me-3 mt-2">
                              <img
                              src="/Image/car-icon.png"
                              class="icon-size"
                              alt=""
                            /><span class="ms-2"><%= listing.condition %></span>
                            </div>
                            <div class="auclisting-line"></div>
                            <div class="ms-2 me-3 mt-2">
                              <img src="/Image/Road.png" class="icon-size" alt="" /><span
                              class="ms-2"
                              ><%= listing.mileage.toLocaleString("en-US") %></span
                            >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            <% } %>
          </section>
        </div>
      </div>
    </div>
  </section>
</article>
